.subheader
	background: #f0f0f0
	.in
		border-bottom: 1px solid #ECECEC
.support
	width: 218px
	float: left
	border-left: 2px solid #E2E2E2
	border-right: 1px solid #E2E2E2
	padding-top: 10px
	text-align: center
	
	min-height: 130px
	position: relative
	+box
	&__img
		// width: 134px 
		// height: 66px 
		background: url(../img/support.jpg) no-repeat 50% 100%
		-webkit-background-size: contain 
		-o-background-size: contain 
		background-size: contain 
		margin: 0 auto 
		position: absolute
		z-index: 1
		bottom: 0
		left: 0
		right: 0    
		top: 15px 
	h3
		font-size: 10px
		font-weight: 900
		text-transform: uppercase
		color: #224ea2
		margin-bottom: 0px
		position: relative
		z-index: 3 
		margin-bottom: 70px 
	.support__number
		@extend %button1
		margin-right: 7px
		position: relative
		z-index: 2 
		background-color: rgba(#fff,.7) 
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35),inset 0 0 0 2px #1e4590
	.support__chat
		@extend %button1
		z-index: 2
		position: relative
		background-color: rgba(#fff,.7) 
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35),inset 0 0 0 2px #1e4590
.responsive
	float: left
	border-right: 1px solid #e8e8e8
	text-align: center
	min-height: 130px
	padding-top: 16px
	width: 227px
	+box
	h3
		text-transform: uppercase
		font-size: 10px
		font-weight: 900
		color: #224ea2
		margin-bottom: 0px
	.responsive__image
		+s(resp)
		opacity: .3
		display: block
		margin: 0 auto
		margin-bottom: 14px 
	&__more
		font-size: 12px
		color: #222222
		text-decoration: none
		display: inline-block
		margin-top: 22px
		display: none
.pay
	float: right
	width: 416px
	min-height: 130px
	border-right: 2px solid #E5E5E5
	padding-top: 10px
	text-align: center
	+box
	&__icons
		+s(pay)
		margin: 0 auto
		display: block 
		margin-top: 10px 
	&__icons1
		margin-top: 10px 
		a
			display: inline-block
			margin: 0 8px 
			transform: scale(.8)
		img
			vertical-align: middle
			
	h3
		font-size: 10px
		font-weight: 900
		color: #224ea2
		text-transform: uppercase
		margin-bottom: 12px
	p
		font-size: 13px
		color: #222222